@model PracticaCertifac.Models.Addenda

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Addenda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAddenda" />
            <div class="form-group">
                <label asp-for="NombreAddenda" class="control-label"></label>
                <input asp-for="NombreAddenda" class="form-control" />
                <span asp-validation-for="NombreAddenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xml" class="control-label"></label>
                <input asp-for="Xml" class="form-control" />
                <span asp-validation-for="Xml" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaModificacion" class="control-label"></label>
                <input asp-for="FechaModificacion" class="form-control" />
                <span asp-validation-for="FechaModificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Usuario" class="control-label"></label>
                <input asp-for="Usuario" class="form-control" />
                <span asp-validation-for="Usuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
